:root {
    --sidebar: #0ea5e9;
}


* {
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 4fr;
}

.header {
    border: 2px solid black;
    grid-column: 2 / -1;
    background-color: white;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(15, 1fr);   
    display: grid;
}
.header .search {
    grid-column: 2 / 11;
    align-self: center;
    justify-self: center;
    width: 100%;
    
}
.header .search input {
    width: 100%;
    height: 25px;
    border-radius: 8px;
    /* margin-left: 10px; */
    border: none;
    background-color: rgb(220, 220, 220);
}
.header .search input:focus {
    box-shadow: 1px 1px 1px gray;
    border: none;
    outline: 0;
}

.header .magnify {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    max-height: 50px;
}
.header .magnify .glass {
    max-height: 25px;
    max-width: 100%;
    /* object-fit: contain; */
}

 .header >  div {
   border: 1px solid black;
}

.header .bell { 
    grid-column: 11 / 13;
    max-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* height: 40%;
    justify-self: end; 
    display: flex;  */

}
.header .bell img {
    max-height: 25px;
    padding-right: 10px;
}

 .header .pic {
    grid-column: 13 / 14;
    border: 1px solid black;
    max-height: 50px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .pic img {
    max-height: 35px;
    width: auto;
} 
.header .username {
    grid-column: 14 / 16;
    justify-self: center;
    align-self: center;
    font-size: 14px;
}

.header .big-pic {
    grid-column: 1 / 3;
    border: 1px solid black;
    max-height: 50px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .big-pic img {
    max-height: 40px;
    width: auto;
}
.header .welcome {
    grid-column: 3 / 11;
    border: 1px solid black;
}

.header .welcome > * {
    padding: 2px 6px;
}

.header .welcome p {
font-size: 10px;
font-weight: 600;
padding-left: 7px;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--sidebar);
    display: grid;
    grid-template-rows:  90px repeat(12, 40px);
    grid-template-columns: 1fr 3fr;
    font-size: 20px;
    color: white;
    align-items: center;
    font-family: inherit;
    font-weight: 600;
}

.sidebar img {
    color: white;
    height: 50%;
    filter: brightness(0) invert(1);
    justify-self: center;
    padding-right: 15px;
}
.sidebar div.logo {
    height: 100%;
    justify-self: center;
    align-self: center;
}


.content {
    border: 2px solid black;
    background-color: rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 40px 20px;
}

.content .projects {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.content .projects div {
    border: 1px solid black;
    min-height: 100px;
}

.content .info {
    border: 1px solid black; 
    margin-left: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.content .info div {
    border: 5px, solid black;
}